@import "./../../../mixins/mixins";


.window {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: $primary_color;

    .greeting {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            color: #eee;
            font-size: 34px;
        }
    }

    .second {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-self: center;
        text-align: center;
        gap: 40px;

        @media only screen and (max-width: 480px) {
            width: 100%;
        }

        h2 {
            color: #eee;
            padding: 0;
            margin: 0;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 40px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 40%;

                @media only screen and (max-width: 480px) {
                    flex-direction: column;
                }
            }

            input {
                outline: none;
                border: 2px solid transparent;
                padding: 10px 20px;
                border-radius: 12px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.04rem;

                &::placeholder {
                    color: $primary_color;
                }
            }
        }
    }

    .third {
        width: 40%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;

        @media only screen and (max-width: 1200px) {
            width: 60%;
        }
        @media only screen and (max-width: 920px) {
            width: 80%;
        }
        @media only screen and (max-width: 700px) {
            width: 90%;
        }
        @media only screen and (max-width: 700px) {
            width: 100%;
            
        }

        h1 {
            color: #eee;
            padding: 0;
            margin: 0;
            font-size: 24px;

            @media only screen and (max-width: 700px) {
                font-size: 18px;
            }
        }

        .gender {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: #eee;
            padding: 20px;
            border-radius: 16px;

            div {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                user-select: none;
                cursor: pointer;
                padding: 5px 10px;
                border-radius: 10px;
                transition: all .3s ease;

                @media only screen and (max-width: 700px) {
                    font-size: 12px;
                }

                &:hover {
                    background-color: #cfcfcf;
                }
            }
        }
        .age {
            padding: 10px;
            width: 70%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: #eee;
            border-radius: 16px;
            user-select: none;

           

            input {
                text-align: center;
                font-size: 26px;
                font-weight: 500;
                padding: 2px 5px;
                outline: none;
                border: 2px solid transparent;
                width: 60px;
                background-color: #eee;
                border-radius: 8px;
                transition: all .3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                &:focus {
                    border: 2px solid $primary_color;
                }

                @media only screen and (max-width: 700px) {
                    font-size: 16px;
                    width: 40px;
                }
            }
            p {
                margin: 0;
                padding: 0 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                cursor: pointer;

                @media only screen and (max-width: 700px) {
                    font-size: 20px;
                }
            }
        }
    }


    .fourth {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-self: center;
        text-align: center;
        gap: 40px;

        .hobbies {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 80vh;
            text-align: center;
            gap: 30px;
            h1 {
                padding: 0;
                margin: 0;
                font-size: 24px;
                color: #eee;
            }
            article {
                padding: 10px;
                width: 100%;
                height: 60vh;
                overflow-y: scroll;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                flex-wrap: wrap;
                background-color: #eee;
                border-radius: 20px;
                gap: 20px;
                transition: all .3s ease;
                &::-webkit-scrollbar {
                    display: none;
                }
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .selectedHobbies {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                gap: 20px;
            }
        }
        .bio {
            align-self: center;
            width: 70%;
            height: 55vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 30px;
            padding: 20px;
            background-color: #eee;
            border-radius: 20px;
            h1 {
                font-size: 24px;
                color: $primary_color;
                padding: 0;
                margin: 0;
            }
            textarea {
                width: 100%;
                height: 60%;
                padding: 10px 20px;
                outline: none;
                border: 2px solid transparent;
                background-color: #fff;
                border-radius: 20px;
                color: $primary_color;
                font-size: 16px;
                box-shadow: 0px 0px 44px -2px rgba(34, 60, 80, 0.2);
                resize: none;
                &:focus {
                    border: 2px solid $primary_color;
                    transition: all .3s ease;
                }
                &::placeholder {
                    color: $primary_color;
                }
            }
            p {
                align-self: flex-end;
                color: $primary_color;
                font-size: 12px;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.successWindow {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    h1, h2, h3 {
        padding: 0;
        margin: 0;
        color: #eee;
    }
    h1 {
        font-size: 30px;
    }
}


.pagination {
    align-self: center;
    position: absolute;
    top: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    section {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #73EC8B;
    }
}

.backBtn {
    position: absolute;
    top: 5%;
    left: 3%;
    color: #eee;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}