@import './mixins/mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg_color;
    font-family: "Inter Tight", sans-serif;
    #root {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        main.main {
            width: 100%;
            min-height: 100vh;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

::selection {
    color: #eee;
    background-color: #8676ff98;
}