@import "./../../../../mixins/mixins.scss";


.card {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: #fff;

    .like {
        margin-right: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 30px;
        height: 30px;
        align-self: flex-end;
        z-index: 11;
        cursor: pointer;

        img {
            transition: filter .3s ease;
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0);
            }
        }
    }


    .imagesSlider {
        width: 100%;
        height: 70%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
        --swiper-navigation-color: #000;

       

        .image {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 16px;
            padding: 10px;

            div.next {
                width: 50%;
                height: 100%;
                align-self: flex-end;
                position: absolute;
                overflow: hidden;
            }
            div.prev {
                width: 50%;
                height: 100%;
                align-self: flex-start;
                position: absolute;
                overflow: hidden;
            }
            .imgWrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                img {
                    width: auto;
                    height: 100%;
                    border: 12px;
                    max-height: 100%;
                    max-width: 100%;
                    border-radius: 10px;
                }
            }

            
        }
    }

    .info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        padding: 10px;
        h3 {
            margin: 0;
            padding: 5px;
            font-size: 26px;
            font-weight: 400;
        }

        .bio {
            width: 100%;
            height: fit-content;
            max-height: 120px;
            display: flex;
            justify-content: start;
            align-items: start;
            background-color: #eee;
            padding: 20px;
            border-radius: 18px;

            p {
                padding: 0;
                margin: 0;
            }
        }

        .hobbies {
            width: 100%;
            height: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.emptyProfiles {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #767676;
        font-weight: 200;
    }
    
}

