@import "./../../../../mixins/mixins.scss";


.card {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: #fff;


    .imagesSlider {
        width: 100%;
        height: 70%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
        --swiper-navigation-color: #000;

       

        .image {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 16px;
            padding: 10px;

            div.next {
                width: 50%;
                height: 100%;
                align-self: flex-end;
                position: absolute;
                overflow: hidden;
            }
            div.prev {
                width: 50%;
                height: 100%;
                align-self: flex-start;
                position: absolute;
                overflow: hidden;
            }

            img {
                width: auto;
                height: auto;
                border: 12px;
                max-height: 100%;
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }

    .info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        padding: 10px;
        h3 {
            margin: 0;
            padding: 5px;
            font-size: 26px;
            font-weight: 400;
        }

        .bio {
            width: 100%;
            height: fit-content;
            max-height: 120px;
            display: flex;
            justify-content: start;
            align-items: start;
            background-color: #eee;
            padding: 20px;
            border-radius: 18px;

            p {
                padding: 0;
                margin: 0;
            }
        }

        .hobbies {
            width: 100%;
            height: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

