@import './../../../../mixins/mixins.scss';
.blur {
    position: fixed;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 110vh;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    position: fixed;
    width: 40vw;
    min-height: 40%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #eee;
    border-radius: 20px;
    gap: 40px;
    z-index: 13;

    .images {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul.selectedImages {
            width: 100%;
            height: fit-content;
            display: flex;
            list-style: none;
            flex-direction: column;

            li {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                background-color: $primary_color;
                color: #fff;
            }
        }

        .hidden {
            display: none;
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
        }
    }

    .closeBtn {
        align-self: flex-end;
        cursor: pointer;
    }

    
}