

.hobby {
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
        letter-spacing: 0.04rem;
        margin: 0;
        padding: 0;
    }
}