@import "./../../../../mixins//mixins.scss";

.aura {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    z-index: 99;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: #eee;
    border-radius: 16px;
    border: 2px solid $secondary_color;
    flex-direction: column;
    gap: 30px;
    
    
    .inp {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        input {
            padding: 10px 30px;
            width: 80%;
            border-radius: 10px;
            font-size: 16px;
            border: 2px solid $secondary_color;
            letter-spacing: 0.07rem;
            outline: none;
        }
        button {
            outline: none;
            width: 15%;
            height: 100%;
            border: none;
            border-radius: 10px;
            background-color: $primary_color;
            cursor: pointer;
        }
    }
    
}