@import "./../../../mixins/mixins.scss";


.window {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary_color;

    .backLnk {
        position: absolute;
        align-self: flex-start;
        left: 2%;
        top: 4%;
        text-decoration: none;
        color: #fff;
        transition: scale .3s ease;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }
    }

    h2.actionText {
        position: absolute;
        top: 5%;
    }

    .form {
        width: 50%;
        height: 60%;
        background-color: #eee;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 20px;
        gap: 30px;

        h3 {
            padding: 0;
            margin: 0;
        }

        form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;
            gap: 20px;

            input {
                padding: 10px 20px;
                border: none;
                outline: none;
                border-radius: 10px;
                letter-spacing: 0.04rem;
            }

            textarea {
                outline: none;
                border: none;
                border-radius: 10px;
                letter-spacing: 0.04rem;
                resize: none;
                width: 400px;
                height: 300px;
                padding: 10px 20px;
            }

            .hiddenBtn {
                display: none;
                width: 0;
                height: 0;
                overflow: none;
            }

            .btns {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;

                .modalBtn {
                    outline: none;
                    border: none;
                    background-color: #000;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 12px;
                    cursor: pointer;
                }
            }

            
        }
    }
}