@mixin primary_gradient__color {
    background: rgb(133,118,255);
    background: -moz-linear-gradient(90deg, rgba(133,118,255,1) 26%, rgba(255,113,130,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(133,118,255,1) 26%, rgba(255,113,130,1) 100%);
    background: linear-gradient(90deg, rgba(133,118,255,1) 26%, rgba(255,113,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8576ff",endColorstr="#ff7182",GradientType=1);
}

// light theme
$bg_color: #eee;
$primary_color: #000;
$secondary_color: #8576FF;

// dark theme
$dark_bg_color: #222831;
$dark_primary_color: #eee;