@import "./../../../mixins/mixins";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Gothic+A1&family=Inconsolata:wght@200..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.window {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @media only screen and (max-width: 600px) {
        padding: 5px;
    }
    h1.firstname {
        font-weight: 200;
        font-size: 34px;
        padding: 0;
        margin: 0;
        align-self: flex-start;
        font-family: "Quicksand", sans-serif;
    }   

    .userData {
        display: flex;
        width: 100%;
        height: 60vh;
        min-height: 20vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 40px;
        
        
        .profile {
            background-color: #fff;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            border-radius: 16px;
            width: 70%;
            height: fit-content;

            @media only screen and (max-width: 1100px) {
                width: 80%;
            }

            @media only screen and (max-width: 600px) {
                width: 90%;
            }

            p.tag {
                margin: 0;
                padding: 5px 10px;
                border-radius: 10px;
                background-color: #eee;
            }

            h1 {
                font-size: 20px;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 100%;
                height: fit-content;
                padding: 20px;
                gap: 20px;

                li {
                    width: 100%;
                    display: flex;
                    padding: 10px 30px;
                    border-radius: 10px;
                    background-color: $bg_color;
                    h3 {
                        padding: 0;
                        margin: 0;
                    }
                    &:first-child {
                        background-color: $primary_color;
                        color: #fff;
                        justify-content: space-between;
                        h2 {
                            margin: 0;
                            padding: 0;
                        }
                    }
                   
                }
            }
        }
    }
}

.hobbieDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    h3 {
        padding: 0;
        margin: 0;
        padding-left: 20px;
    }
    .hobbies {
        width: 100%;
        height: fit-content;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
}

.bio {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 20px;
    .textarea {
        width: 100%;
        min-height: 100px;
        background-color: #dfdfdf;
        outline: none;
        border: none;
        border-radius: 12px;
        padding: 15px;
        resize: none;
    }
}

.controller {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;

}
.swiper_wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100%;

        .slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 20px;

            img {
                width: 50%;
                height: auto;
                max-width: 100%;
                border-radius: 20px;
            }

            .tools {
                position: absolute;
                margin-left: 90%;
                margin-top: 2%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                gap: 10px;
                align-self: flex-start;

                .toolBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    z-index: 10;
                    cursor: pointer;
                }
            }
            
        }
    }

    .notSwiper {
        background-color: $primary_color;
        width: 80%;
        height: 50vh;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}

.createProfileBtn {
    width: 30%;
    height: 40vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px -3px 26px 1px rgba(34, 60, 80, 0.19);
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 20px;

    @media only screen and (max-width: 1100px) {
        width: 60%;
    }
    
    @media only screen and (max-width: 700px) {
        width: 80%;
    }

    h1 {
        font-size: 24px;
        span {
            color: $primary_color;
        }
    }
}
